
<%= form_with model: [ @category, @category.to_dos.build ] do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :start %><br>
    <%= form.date_field :start %>
  </p>

  <p>
    <%= form.label :deadline %><br>
    <%= form.date_field :deadline %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>